body{
  background-color: rgb(183, 250, 250);
  
  margin: 0;
  font-family: 'poppins',sans-serif;
  background:linear-gradient(0deg,rgba(34,193,193,1) 86%);
}
#form{
    width: 400px;
    height: 430px;
    margin: 15vh auto 0 auto;
    background: white;
    border-radius: 5px;
    padding: 50px;
}
h1{
    text-align: center;
    color: aqua;
    margin-top: 5px;
}
#form button{
    background-color:aqua ;
    color: white;
    border: 1px ;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;  
    margin-bottom: 10px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid rgb(5, 250, 250);
}
.input-group input:focus{
    outline: 0;
}
.input-group.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;

}
.input-group.success input{
    border-color: #0cc477;
 
}
.input-group.error input{
    border-color: rgb(206, 67, 67);
 
}